
docker/dockerfiles/totvs
docker/dockerfiles/sql_data/data/*
docker/dockerfiles/sql_data/log/*
docker/dockerfiles/sql_data/secrets/*
!docker/dockerfiles/sql_data/data/.gitkeep
!docker/dockerfiles/sql_data/log/.gitkeep
!docker/dockerfiles/sql_data/secrets/.gitkeep
